*{
    margin: 0px;padding: 0px;
}
.main{
    width: 1000px;height: auto;background: grey;margin: 0px auto;
}
.main .head{
    width: 1000px;height: 100px;background:white;
}
.main .menu{
    width: 1000px;height: 40px;background: rgb(233, 232, 232);
}
.main .slider{
    width: 1000px;height: 650px;background: white;
}
.main .content{
    width: 1000px;height: 750px;background: lightblue;
}
.main2{
    width: 1000px;height: 80px;background: black;margin: 0px auto;
}
.main2 .menu{
    width: 1000px;height: 50px;
}
.main2 .copyright{
    width: 1000px;height: 30px;text-align: center;color: lightgrey;
}
.main2 .footer{
    list-style: none;width: 630px;margin: 0px auto;
}
.main2 .footer li{
    float: left;width: 100px;line-height: 50px;margin-left: 5px;
}
.main2 .footer li a{
    text-decoration: none;color: lightgray;
}

.head1 .logo{
    height: 100px;margin-left: 5px;float: left;
}
.titlehead .title{
    float: left;margin-top: 20px;color: rgb(11, 137, 196);font-size: 30px;margin-left: 5px;
}
.head .head1{
    width: 125px;height: 100px;float: left;
}
.head .head2{
    width: 500px;height: 100px;background: white;float: left;
}
.head2 .titlehead{
    width: 500px;height: 60px;background: white;float: left;
}
.head2 .captionhead{
    width: 500px;height: 40px;background: white;float: left;
}
.captionhead .caption{
    margin-left: 5px;color: rgb(111, 190, 226);
}
.head .head3{
    width: 375px;height: 100px;background: white;float: left;
}
.head3 .icon{
    width: 40px;height: 40px;float: right;margin-top: 30px;margin-left: 5px;
}
/* menu creation */

.menu .nav{
    list-style: none;
    /* list-style-image: url(2.jpg); */
}
.menu .nav li{
    float: left;background: steelblue;width: 160.6px;height: 40px;text-align: center;line-height: 40px;
    margin-left: 5px;
}
.menu .nav li a{
    color: white;text-decoration: none;width: 160.6px;height: 40px;float: left;
}
.menu .nav li a:hover{
    background: rgba(13, 117, 173, 0.37);font-size: 18px;
}
.menu .nav .subNav{
    list-style: none;
    visibility: hidden;
    position: relative;
    z-index: 1;
}
.menu .nav li:hover .subNav{
    visibility: visible;
}
.menu .nav .subNav .subSubNav{
    list-style: none;margin-left: 160px;visibility: hidden;
    position: relative;
    top: -40px;
}
.menu .nav .subNav li:hover .subSubNav{
    visibility: visible;
}
.menu .nav .subNav li{
    margin-left: 0px !important;background: black;border-bottom: 1px solid white;
}
.subSubNav li{
    border-left: 1px solid white;
}
/* menu creation end */
.slider .sliderEvents{
   width: 1000px;height: 650px;
}
/* content start */
.content .top{
    width: 1000px;height: 600px;background: lightgray;
}
.content .bottom{
    width: 1000px;height: 150px;background: white;
}
.content .left{
    width: 490px;height: 590px;background: rgb(250, 246, 246);float: left;margin: 5px;
}
.content .right{
    width:490px;height: 590px;background: rgb(244, 245, 247);float: left;margin: 5px; 
}
.content .top .left .upc{
    text-align: center;margin-top: 10px;margin-bottom: 20px;color: orange;
}
.content .top .right .past{
    text-align: center;margin-top: 10px;margin-bottom: 20px;color: orange;
}
.content .top .marquee{
    text-align: center;height: 500px;
}
.content .top .marquee .box1{
    text-align: center;
    width: 400; height: 400;margin: 0px auto;
}
.content .top .marquee .box1 .boxImg{
    width: 350px;height: 400px;margin-bottom: 20px;
}
.content .top .marquee .box1 .bottomSpace{
    margin-bottom: 80px;
}
.content .bottom .live{
    text-align: center;height: 50px;
    line-height: 50px;
    background: lightblue;
}
.content .bottom .liveData{
    text-align: center;height: 100px;
   line-height: 100px;
    background: white;font-size: 18px;
}


/* content End */